<nav class="navbar navbar-expand-lg cinema-navbar sticky-top">
  <div class="container-fluid cinema-navbar__container">
    <a class="navbar-brand cinema-navbar__brand" routerLink="/" (click)="closeMenu()">
      <span class="cinema-navbar__brand-mark" aria-hidden="true">
        <i class="bi bi-film"></i>
      </span>
      <span class="cinema-navbar__brand-text">
        {{ isAdmin ? 'CinemaX Admin' : 'CinemaX' }}
      </span>
    </a>

    <button class="navbar-toggler cinema-navbar__toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#cinemaNavbar" aria-controls="cinemaNavbar" aria-expanded="false" aria-label="Toggle navigation"
      (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse cinema-navbar__collapse" id="cinemaNavbar" [class.show]="isMenuOpen">
      <ul class="navbar-nav mx-auto align-items-lg-center cinema-navbar__nav">
        <li class="nav-item">
          <a class="nav-link cinema-navbar__link" routerLink="/movies" routerLinkActive="active" (click)="closeMenu()">
            Movies
          </a>
        </li>

        <ng-container *ngIf="isAuthenticated">
          <li class="nav-item">
            <a class="nav-link cinema-navbar__link" routerLink="/profile" routerLinkActive="active"
              (click)="closeMenu()">
              Profile
            </a>
          </li>
        </ng-container>

        <ng-container *ngIf="isAdmin">
          <li class="nav-item">
            <a class="nav-link cinema-navbar__link" routerLink="/admin" routerLinkActive="active" (click)="closeMenu()">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cinema-navbar__link" routerLink="/menu" routerLinkActive="active" (click)="closeMenu()">
              Menu
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cinema-navbar__link" routerLink="/bookings" routerLinkActive="active"
              (click)="closeMenu()">
              Bookings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cinema-navbar__link" routerLink="/users" routerLinkActive="active" (click)="closeMenu()">
              Users
            </a>
          </li>
        </ng-container>
      </ul>

      <div
        class="d-flex flex-column flex-lg-row align-items-stretch align-items-lg-center gap-2 cinema-navbar__actions">
        <button type="button" class="btn cinema-navbar__icon-button" aria-label="Search">
          <i class="bi bi-search"></i>
        </button>

        <a *ngIf="!isAuthenticated" class="btn cinema-navbar__icon-button" routerLink="/sign-up"
          aria-label="Create account" (click)="closeMenu()">
          <i class="bi bi-person"></i>
        </a>

        <a *ngIf="!isAuthenticated" class="btn cinema-navbar__cta" routerLink="/sign-in" (click)="closeMenu()">
          Sign In
        </a>

        <a *ngIf="isAuthenticated && !isAdmin" class="btn cinema-navbar__cta" routerLink="/profile"
          (click)="closeMenu()">
          My Account
        </a>

        <a *ngIf="isAuthenticated && isAdmin" class="btn cinema-navbar__cta" routerLink="/admin" (click)="closeMenu()">
          Dashboard
        </a>

        <button *ngIf="isAuthenticated" type="button" class="btn cinema-navbar__secondary" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
